.header{
    background:$colores-header;
    padding: 10px;
    margin: 0.5em;
    border-radius: 4px;
    grid-column-start: 2;
    grid-column-end: -1;
    h1{
        font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
        font-size: $tamano-titulos-contenido;
        color:$shadow;
    }
    p{
        text-align:justify;
        color: $shadow;
    }
}