$colores-body: #FFFFFF;
$colores-letras-body:#040404;
$colores-aside: #353535;
$colores-main:#FFFFFF;
$colores-header:#353535;
$colores-footer:#353535;
$color-titulos-contenido:#040404;
$color-subtitulos-contenido:#5B91F1;
$tamano-body:16px;
$tamano-titulos-contenido:25px;
$tamano-subtitulos-contenido:20px;
$shadow: #D9E3F5;