$colores-body: #FFFFFF;
$colores-letras-body:#040404;
$colores-aside: #5B91F1;
$colores-main:#FFFFFF;
$colores-header:#E7F2F1;
$colores-footer:#30e718;
$color-titulos-contenido:#040404;
$color-subtitulos-contenido:#5B91F1;
$tamano-body:16px;
$tamano-titulos-contenido:30px;
$tamano-subtitulos-contenido:25px;
$shadow: #D9E3F5;