@charset "UTF-8";
/*Archivos parciales - segmentación de estilos y funcionalidades*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  background: #FFFFFF;
  color: #040404;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

.contenedor {
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto); }

@media screen and (max-width: 768px) {
  .contenedor {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto); }
    .contenedor header {
      grid-column-start: -1;
      grid-column-end: 1; }
    .contenedor .sidebar {
      grid-row-start: 2;
      grid-row-end: -1; }
    .contenedor .contenido {
      margin: 0.1em;
      padding: 0.5em;
      grid-column-start: 1;
      grid-column-end: -1; } }
.header {
  background: #353535;
  padding: 10px;
  margin: 0.5em;
  border-radius: 4px;
  grid-column-start: 2;
  grid-column-end: -1; }
  .header h1 {
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    font-size: 25px;
    color: #D9E3F5; }
  .header p {
    text-align: justify;
    color: #D9E3F5; }

.contenido {
  background: #FFFFFF;
  grid-column-start: 2;
  grid-column-end: -1;
  text-align: justify;
  border-radius: 4px; }
  .contenido h2 {
    color: #040404;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    font-size: 25px; }
  .contenido .contenido-experiencia {
    margin: 0.1em;
    padding: 0.5em;
    text-align: justify; }
    .contenido .contenido-experiencia h3 {
      color: #5B91F1;
      font-family: Arial Black,Arial Bold,Gadget,sans-serif; }
  .contenido .contenido-estudios {
    margin: 0.1em;
    padding: 0.5em;
    text-align: justify; }
    .contenido .contenido-estudios h3 {
      color: #5B91F1;
      font-family: Arial Black,Arial Bold,Gadget,sans-serif; }
      .contenido .contenido-estudios h3 a {
        color: #5B91F1;
        text-decoration: none; }
    .contenido .contenido-estudios a {
      color: #040404;
      text-decoration: none; }
    .contenido .contenido-estudios a:hover {
      background-color: #D9E3F5; }
  .contenido .contenido-certificados {
    margin: 0.1em;
    padding: 0.5em;
    text-align: justify; }
    .contenido .contenido-certificados h3 {
      color: #5B91F1;
      font-family: Arial Black,Arial Bold,Gadget,sans-serif; }
      .contenido .contenido-certificados h3 a {
        color: #5B91F1;
        text-decoration: none; }
    .contenido .contenido-certificados a {
      color: #040404;
      text-decoration: none; }
    .contenido .contenido-certificados a:hover {
      background-color: #D9E3F5; }

.sidebar {
  background: #353535;
  padding: 10px;
  margin: 0.5em;
  border-radius: 4px;
  display: grid;
  grid-gap: 5px;
  grid-row-start: 1;
  grid-row-end: -1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sidebar .avatar {
    height: 200px;
    width: 200px;
    border-radius: 100%; }
    .sidebar .avatar .avatar-img {
      width: 100%;
      height: 100%;
      border-radius: 100%; }
  .sidebar ul {
    list-style: none;
    padding: 1em;
    margin: 1em; }
    .sidebar ul li {
      padding: 3px;
      margin: 3px; }
  .sidebar .descripcion_habilidades {
    width: 100%;
    height: 20%;
    padding: 0.5em;
    margin: 0.5em;
    color: #D9E3F5; }
    .sidebar .descripcion_habilidades p {
      text-align: justify;
      color: #D9E3F5; }
    .sidebar .descripcion_habilidades .iconos {
      height: 40px;
      width: 150px;
      border-radius: 60px;
      display: flex;
      align-items: flex-start; }
      .sidebar .descripcion_habilidades .iconos .iconos-ico {
        width: 40px;
        height: 45px;
        border-radius: 40px; }
    .sidebar .descripcion_habilidades .iconos-textos {
      flex: 1;
      padding: 5px; }
      .sidebar .descripcion_habilidades .iconos-textos a {
        color: #FFFFFF;
        text-decoration: none; }
      .sidebar .descripcion_habilidades .iconos-textos a:hover {
        padding: 0.5em;
        margin: 0.5em;
        background-color: #D9E3F5;
        border-radius: 40px;
        color: #040404; }
      .sidebar .descripcion_habilidades .iconos-textos .activo {
        color: #f4f4f8;
        text-decoration: line-through; }

.fouter {
  background: #353535;
  padding: 20px;
  border-radius: 4px;
  text-align: justify;
  color: #D9E3F5;
  grid-column-start: 1;
  grid-column-end: -1; }

/*# sourceMappingURL=styles.css.map */
